/*
+++++++++++++++++++++++++++
+++++++++++++++++++++++++++
ROI Calculator Style Sheet
+++++++++++++++++++++++++++
+++++++++++++++++++++++++++

0.  Dev Stuff | Should not be included on website
1.  CSS modifying the default Wizard
2.  Structural Elements | e.g. headers, labels
3.  Input Elements
        *For each Element
            * container for the div surrounding the element including label, info tooltip etc.
            * 
4.  Specification Menu
5.  Auswertung

+++++++++++++++++++++++++++
+++++++++++++++++++++++++++
*/


/*
+++++++++++++++++++++++++++
0.  Dev Stuff 
+++++++++++++++++++++++++++
*/

/*
+++++++++++++++++++++++++++
1. CSS modifying the default Wizard
+++++++++++++++++++++++++++
*/

/*
++++  Sidebar ++++
*/

.wizard, .tabcontrol {
    height: 100%;
}

.wizard p{
    line-height: 20px;
}

/*making sidebar full height*/
.wizard.vertical > .steps {
    background-color: #2E6677;
    height: 100%;
}

/*adjusting the color of the different stages a element can have | active, done, not done*/
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background-color: inherit;
}

.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background-color: inherit;
}

.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
    background-color: inherit;
}

/*removing default numbering*/
res-roi-section-steps-container .number{
    display: none;
}

/*adding new numbering */
.res-roi-steps .res-number{
    float: left;
    font-size: 15px;
    font-weight: 700;
    height:20px;
    width: 20px;
    border-radius: 10px;
    margin-right: 5px;
    color: #2E6677;
    background-color: #fff;
    text-align: center;
    line-height: 16px;
    margin-top: -14px;
}

.res-roi-disable-steps-action{
        height: 301px;
    position: fixed;
    width: 378px;
}



/*aligning heading and number*/
.res-roi-steps-text{
    margin-top: -16px;
}

.res-roi-steps-text p{
   opacity: 0.46;
}

/*TODO check if needed*/
.res-roi-steps{
    display: flex;
}

/*Steps headings*/
.res-roi-steps-header{
    color: white;
    font-size: 20px;
    margin-left: 20px; 
    margin-top: 40px;
}

/*Steps sub headings*/
.res-roi-steps h3{
    font-size: 15px;
 padding-bottom: 0px;
}


/*Steps Descrition if  active*/
.res-roi-steps p{
    display: none;
}

/*Steps Descrition if not active*/
.current p{
    margin-top: 0px;
    display: block !important;
}

.current h3{
        text-decoration: underline;
}

/*Adjusting height of input containers if active*/
.wizard.vertical > .steps > ul > .current {
    height: 148px;
    padding-top: 10px;
}

/*Adjusting height of input containers if inactive*/
.wizard.vertical > .steps > ul > li {
    height: 30px;
    padding-top: 10px;
}

.wizard.vertical > .steps > ul > .done .res-roi-steps .res-number{
    color: #2E6677;
    border-color: #fff;
}

.wizard.vertical > .steps > ul > .current .res-roi-steps .res-number{
    color: #2E6677;   
    border-color: #fff;

}

#specification-menu-app-features .res-checkobx-section-container{
        height: 30px;
    
}

#specification-menu-app-features .res-roi-section-input-checkbox-checkmark {
    top: 0;
}



/*
++++  Main Section ++++
*/


/*removing border between sidebar and main part, making the main part fill the entire container*/
.wizard.vertical > .content{
    margin: 0;
    width: 70%;
    height: 100%;
}

/*removing border*/
.wizard.vertical > .content {
        border-radius: 0px;
}

/*limiting width of the content for all sections*/

#res-roi-wizard-p-0{
    
}

#res-roi-wizard-p-1{
    max-width: 656px;
    
}

#res-roi-wizard-p-2{
    max-width: 656px;
    
}

#res-roi-wizard-p-3{
    max-width: 656px;
    
}

#res-roi-wizard-p-4{
    max-width: 656px;
    
}

#res-roi-wizard-p-5{
    
}

/*section heading*/
h2{
    color: #2E6677;
    
}

/*
+++++++++++++++++++++++++++
2.  Structural Elements
+++++++++++++++++++++++++++
*/

/*Limiting the dimensions of the wizard to not be fullscreen*/
#res-roi-wizard-container{
    height: 750px;
    width: 1200px;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 40px lightgrey;
}

/*++  Labels    ++*/

/*Label bundeling several Questions*/
.res-roi-section-input-label-primary{
    width: 400px;
    color: #797979;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-decoration: underline;
    margin-top: 20px;
}

/*Input field Question Label*/
.res-roi-section-input-label-secondary{
    width: 600px;
    color: #797979;
    font-size: 15px;
    align-items: center;
    line-height: 20px;
}

/*Info Tooltip*/
.res-roi-steps-info{
    position: absolute;
    right: 0;
    float: left;
    font-size: 15px;
    height:17px;
    width: 17px;
    line-height: 17px;
    border-radius: 10px;
    margin-right: 5px;
    border: 1px solid #969696;
    color: #969696;
    text-align: center;
}

.res-roi-steps-info-tooltip{
    visibility: hidden;
    background-color: #fff;
    color: #969696;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    box-shadow: 5px 5px 40px lightgrey;
    position: absolute;
    z-index: 1;
    font-size: 14px;
    width: 200px; 
    opacity: 0.8;
}

.res-roi-specification-menu .res-roi-steps-info-tooltip{
        right: 0px;
}
    

    
.res-roi-steps-info:hover .res-roi-steps-info-tooltip{
    visibility: visible;
}

#specification-menu-app-features .res-roi-steps-info{
    margin-top: -17px;
}

.res-roi-steps-text h3 {
    color: white;
}

.wizard > .content > .body label {
 margin-bottom: 0px;   
}

/*
+++++++++++++++++++++++++++
3.  Input Elements
+++++++++++++++++++++++++++
*/

/*++    Button Input    ++*/
/*general button structure*/
.res-roi-button{
    height: 30px;
    width: 80px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    bottom: 10px;
    position: absolute;
    border-radius: 5px;
    z-index: 5 !important;
}

.res-roi-button:hover{
    cursor: pointer;
}

/*previous button*/
#res-roi-button-start{
  background-color: #579ACB;
    color: #fff;
    right: 20px;
    bottom: 20px;

}

/*next button*/
#res-roi-button-next{
    background-color: #579ACB;
    color: #fff;
    right: 20px;
        visibility: hidden;
    
}

/*previous button*/
#res-roi-button-previous{
    background-color: grey;
    color: #fff;
    right: 120px;
         visibility: hidden;

}

/*done button*/
.res-roi-button-done{
    background-color: #579ACB;
    color: #fff;
    right: 20px;
}

/*send evalutation button*/
#res-roi-send-evalution-button{
           width: 200px;
    background-color: #579ACB;
    color: #fff;
    bottom: 100px;
    right: 31px;
}

#res-roi-app-adjust-button{
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #579ACB;
    color: #579ACB;
    position: relative;
    font-size: 14px;
    height: 25px;
    z-index: 0 !important;
    line-height: 25px;
    width: 159px;
}
/*++    Number Input    ++*/

/*container of number input containig label, input, infotooltip ... */
.res-roi-input-container-number{
    margin-top: 4px;
    display: flex;
    align-items: center;
}

/*Styling for the textbox*/
.res-roi-section-input-number{
    height: 25px;
    width: 80px;
    margin-right: 20px;
    margin-left: 10px;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: #969696;
    background-color: #fff;
    text-align: center;
    line-height: 25px;
    border: 2px  solid #EBE9ED;
}

/* min next to values with unit*/
.res-roi-section-label-unit{
    color: #797979;
    width: 40px;
    text-align: center;
}

/*adjusting textbox width so the unit fits next to it*/
.res-roi-section-input-number-unit{
     margin: 0;
     width: 66px;
 }



/*textbox shoing the sum of the textboxes above*/
.res-roi-section-input-number-total{
    height: 25px;
    width: 67px;
    margin-right: 20px;
    margin-left: 10px;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: #969696;
    background-color: #fff;
    text-align: center;
    line-height: 25px;
    border: 1px solid  #969696 ;    
    font-weight: 700;  

}

/*++    Text Input    ++*/

/*Styling for the textbox*/
.res-roi-section-input-text{
    height: 25px;
    width: 440px;
    margin-right: 10px;
    margin-top: 15px;
    text-align: left;
    font-size: 15px;
    color: #969696;
    padding-left: 10px;
    background-color: #fff;
    line-height: 25px;
    border: 2px  solid #EBE9ED;
}

/*++    Slider Input    ++*/

/*Container including slider, label, info tooltip ...*/
.res-roi-input-container-slider{
/*    height: 80px;*/
    margin-bottom: 11px;
}

/*Textbox showing the current value of the slider*/
.res-roi-input-slider-output{
    height: 25px;
    width: 80px;
    margin-right: 10px;
    margin-left: 363px;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: #969696;
    background-color: #fff;
    text-align: center;
    line-height: 25px;
    border: 2px  solid #EBE9ED;
}

/*Container for the slider itself, only slider shoud be in here*/
.res-roi-slider-element-container{
    float: left;
    width: 487px;
    margin-top: 0px;
    margin-right: 19px;
    
}

/*adjusting the label*/
.res-roi-input-container-slider .res-roi-section-input-label-secondary{
    margin-bottom: 10px;
    width: 350px;
}


/*Styling the slider*/
.res-roi-slider-element-container .ui-slider-handle{
    border-radius: 15px;
    margin-top: -3px;
    background: #2E6677 !important;
    height: 25px !important;
    width: 25px !important;
}

.res-roi-input-container-slider .res-roi-slider-element-container .ui-slider{
    margin-top: 6px;
}

.res-roi-input-container-slider .res-roi-steps-info{
    margin-top: -20px;
}



/*++    Checkbox Input    ++*/

/*Checkbox styling taken from W3Schools*/
/* The container */
.res-roi-section-input-checkbox-container{
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.res-roi-section-input-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.res-roi-section-input-checkbox-checkmark {
    position: absolute;
    top: 3px;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #707070;
}

/* On mouse-over, add a grey background color */
.res-roi-section-input-checkbox-container:hover input ~ .res-roi-section-input-checkbox-checkmark {
    background-color: white;
}

/* When the checkbox is checked, add a blue background */
.res-roi-section-input-checkbox-container input:checked ~ .res-roi-section-input-checkbox-checkmark {
    background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.res-roi-section-input-checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.res-roi-section-input-checkbox-container input:checked ~ .res-roi-section-input-checkbox-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.res-roi-section-input-checkbox-container .res-roi-section-input-checkbox-checkmark:after {    
    left: 4px;
    top: -1px;
    width: 5px;
    height: 11px;
    border: 1px solid #2E6677;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.res-checkobx-section-container .res-roi-section-input-label-secondary{
    position: relative;
    margin-left: 30px;
}

/*++    Select Input    ++*/

/*Select input field Styling*/
.res-roi-section-input-select{
    display: block;
    margin-top: 10px;
    height: 25px;
    font-size: 14px;
    color: #969696; 
}

/*
+++++++++++++++++++++++++++
4. Specification Menu
+++++++++++++++++++++++++++
*/

/*main container, on default hidden by taking it out of the frame*/
.res-roi-specification-menu-container{
    z-index: 999;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    bottom: -10000px;
}

/*div covering the space ot used by the specification menu*/
.res-roi-specification-whitespace{
    position: relative;
    opacity: 0.5;
    background-color: #797979;
    height: 100%;
    width: 65%;
}

/*specification menu*/
.res-roi-specification-menu{
    position: relative;
    opacity: 1 !important;
    background-color: #ECECEC;
    width: 50%;
    height: 100%;
    padding: 30px;
}

/*
+++++++++++++++++++++++++++
5.  Auswertung 
+++++++++++++++++++++++++++
*/

.res-roi-evaluation-preview-container-text-image{
    display: flex;
    height: 150px;
    
}

.res-roi-evaluation-preview-container{
background-color: #fff;    
    box-shadow: 5px 5px 40px lightgrey;
}

.res-roi-evaluation-form-container{
        box-shadow: -1px -12px 40px 0px #969696;
        margin-top: 53px;
        width: 110% !important;
        position: absolute;
        margin-left: -2.5%;
        padding-left: 2.5%;
    height: 49%;
}

.res-roi-evaluation-form-container-content{
    margin-left: 2.5%;
    display: flex;
}

.res-roi-evaluation-form-container-content-input{
     background-color: #fff;
    margin-top: 20px;
    height: 296px;
    width: 798px;
    padding: 20px;
    margin-left: -19px;
    box-shadow: 5px 5px 40px lightgrey;

}


}

.res-roi-evaluation-diagramm{
    margin-right: 50px;
    margin-left: 50px;
    height: 250px;
}

.res-roi-evaluation-form-container-content-action-image{
/*
    background-color: grey;
    height: 187px;
    width: 134px;
    margin-top: 56px;
    margin-left: 32px;
*/
}

.res-roi-evaluation-diagramm img {
    max-width: none;
    height: 156px;
}

.res-roi-evaluation-preview-container{
        background-color: #fff;
    padding: 20px;
    height: 250px;
}

/*
+++++++++++++++++++++++++++
6.  Anleitung 
+++++++++++++++++++++++++++
*/

.res-roi-introduction-container{
        width: 106%;
    height: 106%;
    background-color: #fff;
    padding: 20%;
}

