/*
+++++++++++++++++++++++++++
+++++++++++++++++++++++++++
ROI Calculator Style Sheet
+++++++++++++++++++++++++++
+++++++++++++++++++++++++++

0.  Dev Stuff | Should not be included on website
1.  CSS modifying the default Wizard
2.  Structural Elements | e.g. headers, labels
3.  Input Elements
        *For each Element
            * container for the div surrounding the element including label, info tooltip etc.
            * 
4.  Specification Menu

+++++++++++++++++++++++++++
+++++++++++++++++++++++++++
*/


/*
+++++++++++++++++++++++++++
0.  Dev Stuff 
+++++++++++++++++++++++++++
*/

body{
    font-family:sans-serif;
    
}


/*
+++++++++++++++++++++++++++
1. CSS modifying the default Wizard
+++++++++++++++++++++++++++
*/

/*
++++  Sidebar ++++
*/

/*making sidebar full height*/
.wizard.vertical > .steps {
    background-color: #2E6677;
    height: 100%;
}

/*adjusting the color of the different stages a element can have | active, done, not done*/
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background-color: inherit;
}

.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background-color: inherit;
}

.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
    background-color: inherit;
}

/*removing default numbering*/
res-roi-section-steps-container .number{
    display: none;
}

/*adding new numbering */
.res-roi-steps .res-number{
    float: left;
    font-size: 12px;
    height:15px;
    width: 15px;
    border-radius: 10px;
    margin-right: 5px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
}


/*aligning heading and number*/
.res-roi-steps-text{
    margin-top: -16px;
}

/*TODO check if needed*/
.res-roi-steps{
    display: flex;
}

/*Steps headings*/
.res-roi-steps-header{
    color: white;
    font-size: 20px;
    margin-left: 20px; 
    margin-top: 40px;
}

/*Steps sub headings*/
.res-roi-steps h3{
    font-size: 15px;
    margin-bottom: 5px;
}


/*Steps Descrition if  active*/
.res-roi-steps p{
    display: none;
}

/*Steps Descrition if not active*/
.current p{
    font-size: 12px;
    margin-top: 0px;
    display: block !important;
}

/*Adjusting height of input containers if active*/
.wizard.vertical > .steps > ul > .current {
    height: 80px;
}

/*Adjusting height of input containers if inactive*/
.wizard.vertical > .steps > ul > li {
    height: 30px;
}


/*
++++  Main Section ++++
*/


/*removing border between sidebar and main part, making the main part fill the entire container*/
.wizard.vertical > .content{
    margin: 0;
    width: 70%;
    height: 100%;
}

/*removing border*/
.wizard.vertical > .content {
        border-radius: 0px;
}

/*limiting width of the content for all sections*/
#res-roi-wizard-p-0{
    max-width: 450px;
    
}

#res-roi-wizard-p-1{
    max-width: 450px;
    
}

#res-roi-wizard-p-2{
    max-width: 450px;
    
}

#res-roi-wizard-p-3{
    max-width: 450px;
    
}

/*section heading*/
h2{
    color: #2E6677;
    
}

/*
+++++++++++++++++++++++++++
2.  Structural Elements
+++++++++++++++++++++++++++
*/

/*Limiting the dimensions of the wizard to not be fullscreen*/
#res-roi-wizard-container{
    height: 750px;
    width: 1300px;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 40px lightgrey;
}

/*++  Labels    ++*/

/*Label bundeling several Questions*/
.res-roi-section-input-label-primary{
    width: 400px;
    color: #797979;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-decoration: underline;
    margin-top: 20px;
}

/*Input field Question Label*/
.res-roi-section-input-label-secondary{
    width: 600px;
    color: #797979;
    font-size: 15px;
    align-items: center;
}

/*Info Tooltip*/
.res-roi-steps-info{
    position: absolute;
    right: 0;
    float: left;
    font-size: 15px;
    height:17px;
    width: 17px;
    line-height: 17px;
    border-radius: 10px;
    margin-right: 5px;
    border: 1px solid #969696;
    color: #969696;
    text-align: center;
}

.res-roi-steps-info-tooltip{
    visibility: hidden;
    background-color: #fff;
    color: #969696;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    box-shadow: 5px 5px 40px lightgrey;
    position: absolute;
    z-index: 1;
    font-size: 14px;
    width: 200px; 
    opacity: 0.8;
}

.res-roi-steps-info:hover .res-roi-steps-info-tooltip{
    visibility: visible;
}

/*
+++++++++++++++++++++++++++
3.  Input Elements
+++++++++++++++++++++++++++
*/

/*++    Button Input    ++*/
/*general button structure*/
.res-roi-button{
    height: 30px;
    width: 80px;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    bottom: 10px;
    position: absolute;
    border-radius: 5px;
    z-index: 5 !important;
}

.res-roi-button:hover{
    cursor: pointer;
}

/*next button*/
#res-roi-button-next{
    background-color: #579ACB;
    color: #fff;
    right: 20px;
}

/*previous button*/
#res-roi-button-previous{
    background-color: grey;
    color: #fff;
    right: 120px;
}

/*done button*/
.res-roi-button-done{
    background-color: #579ACB;
    color: #fff;
    right: 20px;
}

/*++    Number Input    ++*/

/*container of number input containig label, input, infotooltip ... */
.res-roi-input-container-number{
    margin-top: 14px;
    display: flex;
    align-items: center;
}

/*Styling for the textbox*/
.res-roi-section-input-number{
    height: 25px;
    width: 80px;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: #969696;
    background-color: #fff;
    text-align: center;
    line-height: 25px;
    border: 2px  solid #EBE9ED;
}

/* min next to values with unit*/
.res-roi-section-label-unit{
    color: #797979;
    width: 60px;
    text-align: center;
}

/*adjusting textbox width so the unit fits next to it*/
.res-roi-section-input-number-unit{
     margin: 0;
     width: 50px;
 }



/*textbox shoing the sum of the textboxes above*/
.res-roi-section-input-number-total{
    height: 25px;
    width: 80px;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: #969696;
    background-color: #fff;
    text-align: center;
    line-height: 25px;
    border: 2px  solid #EBE9ED;    
}

/*++    Text Input    ++*/

/*Styling for the textbox*/
.res-roi-section-input-text{
    height: 25px;
    width: 440px;
    margin-right: 10px;
    margin-top: 15px;
    text-align: left;
    font-size: 15px;
    color: #969696;
    padding-left: 10px;
    background-color: #fff;
    line-height: 25px;
    border: 2px  solid #EBE9ED;
}

/*++    Slider Input    ++*/

/*Container including slider, label, info tooltip ...*/
.res-roi-input-container-slider{
/*    height: 80px;*/
    margin-bottom: 11px;
}

/*Textbox showing the current value of the slider*/
.res-roi-input-slider-output{
    height: 25px;
    width: 80px;
    margin-right: 10px;
    margin-left: 363px;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: #969696;
    background-color: #fff;
    text-align: center;
    line-height: 25px;
    border: 2px  solid #EBE9ED;
}

/*Container for the slider itself, only slider shoud be in here*/
.res-roi-slider-element-container{
    float: left;
    width: 350px;
    margin-top: 0px;
    
}

/*adjusting the label*/
.res-roi-input-container-slider .res-roi-section-input-label-secondary{
    margin-bottom: 10px;
    width: 350px;
}


/*Styling the slider*/
.res-roi-slider-element-container .ui-slider-handle{
    border-radius: 15px;
    margin-top: -3px;
    background: #2E6677 !important;
    height: 25px !important;
    width: 25px !important;
}

.res-roi-input-container-slider .res-roi-slider-element-container .ui-slider{
    margin-top: 6px;
}

.res-roi-input-container-slider .res-roi-steps-info{
    margin-top: -20px;
}



/*++    Checkbox Input    ++*/

/*Checkbox styling taken from W3Schools*/
/* The container */
.res-roi-section-input-checkbox-container{
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.res-roi-section-input-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.res-roi-section-input-checkbox-checkmark {
    position: absolute;
    top: 7px;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #707070;
}

/* On mouse-over, add a grey background color */
.res-roi-section-input-checkbox-container:hover input ~ .res-roi-section-input-checkbox-checkmark {
    background-color: white;
}

/* When the checkbox is checked, add a blue background */
.res-roi-section-input-checkbox-container input:checked ~ .res-roi-section-input-checkbox-checkmark {
    background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.res-roi-section-input-checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.res-roi-section-input-checkbox-container input:checked ~ .res-roi-section-input-checkbox-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.res-roi-section-input-checkbox-container .res-roi-section-input-checkbox-checkmark:after {
    left: 2px;
    top: 2px;
    width: 13px;
    height: 13px;
    border-radius: 10px;
    background-color: #2E6677;
}

.res-checkobx-section-container .res-roi-section-input-label-secondary{
    position: relative;
    margin-left: 30px;
}


}
/*++    Select Input    ++*/

/*Select input field Styling*/
.res-roi-section-input-select{
    display: block;
    margin-top: 10px;
    height: 25px;
    font-size: 14px;
    color: #969696; 
}

/*
+++++++++++++++++++++++++++
4. Specification Menu
+++++++++++++++++++++++++++
*/

/*main container, on default hidden by taking it out of the frame*/
.res-roi-specification-menu-container{
    z-index: 999;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    bottom: -10000px;
}

/*div covering the space ot used by the specification menu*/
.res-roi-specification-whitespace{
    position: relative;
    opacity: 0.5;
    background-color: #797979;
    height: 100%;
    width: 65%;
}

/*specification menu*/
.res-roi-specification-menu{
    position: relative;
    opacity: 1 !important;
    background-color: #ECECEC;
    width: 35%;
    height: 100%;
    padding: 30px;
}

